
@{
    ViewBag.Title = "Index2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<select class="chosen-select" id="SubDepartmentsDDL" name="SubDepartmentsDDL">

    <option value="1">Hematology (2)</option>
    <option value="2">Clinical Chemistry (0)</option>
    <option value="3">Histopatholgy (0)</option>
    <option value="8">Molecular Lab (0)</option>
    <option value="9">General Radiology (0)</option>
    <option value="10">Ultrasound (0)</option>
    <option value="12">ECG (0)</option>
    <option selected="selected" value="13">Microbiology (0)</option>
    <option value="14">Blood Bank (0)</option>
    <option value="16">Special Chemistry (1)</option>
    <option value="18">Services (0)</option>
    <option value="19">International Send Outs - India (0)</option>
    <option value="20">National Send Outs (0)</option>
    <option value="21">Vaccination (0)</option>
    <option value="22">ABC (0)</option>

</select>

<link href="/PulseBeta/css/chosen.css" rel="stylesheet" type="text/css">
<link href="/PulseBeta/css/prism.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/PulseBeta/js/chosen.jquery.js"></script>
<script type="text/javascript" src="/PulseBeta/js/prism.js"></script>
<script type="text/javascript">

    var config = {
        '.chosen-select': {},
        '.chosen-select-deselect': { allow_single_deselect: true },
        '.chosen-select-no-single': { disable_search_threshold: 10 },
        '.chosen-select-no-results': { no_results_text: 'Oops, nothing found!' },
        '.chosen-select-width': { width: "95%" }//,
        //'.chosen-search': {disable_search: false}
    }
    for (var selector in config) {
        $(selector).chosen(config[selector]);
    }

</script>