
@{
    ViewBag.Title = "Đề Tài Nghiên Cứu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Slider{
    <img src="~/Content/dist/img/23 3 2022 5.png" width="100%" />    
}
@using HTquanlyNCKH.Models;
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3" style="margin-bottom: 60px">Trường Cao Đẳng Y Tế Đồng Tháp</h6>

        </div>
        <div class="row g-4 justify-content-center">

            @using (DBModel db = new DBModel())
            {
                var topicList = from p in db.Topics select p;
                foreach (var item in topicList)
                {
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="course-item bg-light">


                            <div class="position-relative overflow-hidden">
                                <img class="img-fluid" src="~/Content/dist/img/course-1.jpg" alt="">
                                <div class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4">
                                    <a href="#" class="flex-shrink-0 btn btn-sm btn-primary px-2 border-end" style="border-radius: 30px 0 0 30px;">Xem Đề Tài</a>
                                    <a href="#" class="flex-shrink-0 btn btn-sm btn-primary px-2" style="border-radius: 0 30px 30px 0;">Lý lịch nhà khoa học</a>
                                </div>
                            </div>



                            <div class="text-center p-4 pb-0">
                                <h3 class="mb-0" style="min-height: 100px">@item.tpcName</h3>
                                <div class="mb-3">
                                    <small class="fa fa-star text-primary"></small>
                                    <small class="fa fa-star text-primary"></small>
                                    <small class="fa fa-star text-primary"></small>
                                    <small class="fa fa-star text-primary"></small>
                                    <small class="fa fa-star text-primary"></small>
                                    <small>(123) Đánh Giá</small>
                                </div>
                                <h5 class="mb-4">Năm @item.tpcYear</h5>
                            </div>
                            <div class="d-flex border-top">
                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-user-tie text-primary me-2"></i>Dương Tấn Thành</small>
                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-clock text-primary me-2"></i>1 năm</small>
                                <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>1 Thành Viên</small>
                            </div>
                        </div>
                    </div>
                }
            }

            <nav aria-label="...">
                <ul class="pagination">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Trở về</a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item ">
                        <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Tiếp</a>
                    </li>
                </ul>
            </nav>

        </div>
    </div>
</div>




