<!DOCTYPE html>
<head>
    <link href="~/Content/dist/css/style.css" rel="stylesheet" />
</head>
<body>
    <div id="wapperLogin">
        <a href="@Url.Action("index", "home")">
            <img src="~/Content/dist/img/LOGOcdytDT.png" 
                 alt="Logo cổng tài liệu điện tử Trường Đại học Đồng Tháp" />
        </a>
        <div id="Log">
            @RenderBody()
        </div>
    </div>
</body>
