
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetIconSupport</title>
</head>
<body>
    <div>       
        <h2>Cách tìm icon và sử dụng</h2>
        <pre>Bạn lên Website <a target="_blank" href="https://fontawesome.com/v5/search?q=user&amp;m=free" style="color: #0026ff">fontawesome.com</a> có liệt kê toàn bộ icon.
Tìm tên icon bằng tiếng anh, ở đây mình tìm các icon của <strong>user</strong></pre>
        <a target="_blank" href="https://fontawesome.com/v5/search?q=user&amp;m=free">https://fontawesome.com/v5/search?q=user&amp;m=free</a>
        <p>
            <img src="~/Content/dist/img/HuongDanSuDung/tim-kiem-icon.png" width="100%" />
        </p>
        <hr>
        <p>Click chọn icon bạn thấy thích, ở đây mình chọn icon <strong>user-tag</strong>, để sử dụng bạn chỉ cần copy đoạn code vào trang web là xong.</p>
        <hr>
        <p>
            <img src="~/Content/dist/img/HuongDanSuDung/tim-kiem-icon2.png" width="100%" />
        </p>
        <hr>
        <ol>
            <li>Tên icon</li>
            <li>Kiểu icon và prefix</li>
            <li>Mã unicode</li>
            <li>Mã html</li>
            <li>Tag loại nhóm</li>
            <li>Phiên bản hỗ trợ</li>
            <li>Nếu là: <code>Start Using This Pro Icon</code> thì là bản PRO trả phí mới dùng được</li>
        </ol>
    </div>
</body>
</html>
