
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SliderSupport</title>
</head>
<body>
    <div>
        <img src="~/Uploads/image/guide/huong-dan-add-bia.PNG" width="100%" height="400" />
    </div>
</body>
</html>
