USE [HTquanlyNCKH]
GO
/****** Object:  Table [dbo].[ArtType]    Script Date: 23/3/2022 6:41:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ArtType](
	[typeID] [int] IDENTITY(1,1) NOT NULL,
	[typName] [nvarchar](255) NULL,
	[typDescription] [nvarchar](500) NULL,
	[typCreateDate] [datetime] NULL,
	[typModifierDate] [datetime] NULL,
	[typCreateUser] [int] NULL,
	[typModifierUser] [int] NULL,
 CONSTRAINT [PK_Type] PRIMARY KEY CLUSTERED 
(
	[typeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Classification]    Script Date: 23/3/2022 6:41:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Classification](
	[classifiID] [int] IDENTITY(1,1) NOT NULL,
	[clsName] [nvarchar](255) NOT NULL,
	[clsDescription] [nvarchar](500) NULL,
	[clsCreateDate] [datetime] NULL,
	[clsModifierDate] [datetime] NULL,
	[clsCreateUser] [int] NULL,
	[clsModifierUser] [int] NULL,
 CONSTRAINT [PK_Classification] PRIMARY KEY CLUSTERED 
(
	[classifiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Conference]    Script Date: 23/3/2022 6:41:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Conference](
	[conferenceID] [int] IDENTITY(1,1) NOT NULL,
	[cfrName] [nvarchar](255) NULL,
	[cfrDescription] [nvarchar](500) NULL,
	[cfrCreateDate] [datetime] NULL,
	[cfrModifierDate] [datetime] NULL,
	[cfrCreateUser] [int] NULL,
	[cfrModifierUser] [int] NULL,
 CONSTRAINT [PK_Conference] PRIMARY KEY CLUSTERED 
(
	[conferenceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Council]    Script Date: 23/3/2022 6:41:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Council](
	[councilID] [int] NOT NULL,
	[cniName] [nvarchar](255) NULL,
	[cniChairman] [nvarchar](255) NULL,
	[cniSecretary] [nvarchar](255) NULL,
	[cniReviewer] [nvarchar](500) NULL,
	[cniComment] [nvarchar](500) NULL,
 CONSTRAINT [PK_Council] PRIMARY KEY CLUSTERED 
(
	[councilID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Degree]    Script Date: 23/3/2022 6:41:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Degree](
	[degreeID] [int] IDENTITY(1,1) NOT NULL,
	[degName] [nvarchar](255) NULL,
	[degDescription] [nvarchar](500) NULL,
	[degCreateDate] [datetime] NULL,
	[degModifierDate] [datetime] NULL,
	[degCreateUser] [int] NULL,
	[degModifierUser] [int] NULL,
 CONSTRAINT [PK_Degree] PRIMARY KEY CLUSTERED 
(
	[degreeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Field]    Script Date: 23/3/2022 6:41:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Field](
	[fieldID] [int] IDENTITY(1,1) NOT NULL,
	[fieName] [nvarchar](255) NULL,
	[fieDescription] [nvarchar](500) NULL,
	[fieCreateDate] [datetime] NULL,
	[fieModifierDate] [datetime] NULL,
	[fieCreateUser] [int] NULL,
	[fieModifierUser] [int] NULL,
 CONSTRAINT [PK_Field] PRIMARY KEY CLUSTERED 
(
	[fieldID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Foreign]    Script Date: 23/3/2022 6:41:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Foreign](
	[foreignID] [int] IDENTITY(1,1) NOT NULL,
	[fgnName] [nvarchar](255) NOT NULL,
	[fgnDescription] [nvarchar](500) NULL,
	[fgnCreateDate] [datetime] NULL,
	[fgnModifierDate] [datetime] NULL,
	[fgnCreateUser] [int] NULL,
	[fgnModifierUser] [int] NULL,
 CONSTRAINT [PK_ForeignLanguage] PRIMARY KEY CLUSTERED 
(
	[foreignID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KeyWord]    Script Date: 23/3/2022 6:41:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KeyWord](
	[keyID] [int] IDENTITY(1,1) NOT NULL,
	[keyName] [nvarchar](255) NULL,
	[keyDescription] [nvarchar](500) NULL,
	[keyCreateDate] [datetime] NULL,
	[keyModifierDate] [datetime] NULL,
	[keyCreateUser] [int] NULL,
	[keyModifierUser] [int] NULL,
 CONSTRAINT [PK_KeyWord] PRIMARY KEY CLUSTERED 
(
	[keyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nation]    Script Date: 23/3/2022 6:41:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nation](
	[nationID] [int] IDENTITY(1,1) NOT NULL,
	[natName] [nvarchar](255) NULL,
	[natTwoCode] [char](2) NULL,
	[natThreeCode] [char](3) NULL,
	[natDescription] [nvarchar](500) NULL,
	[natCreateDate] [datetime] NULL,
	[natModifierDate] [datetime] NULL,
	[natCreateUser] [int] NULL,
	[natModifierUser] [int] NULL,
 CONSTRAINT [PK_Nation] PRIMARY KEY CLUSTERED 
(
	[nationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Place]    Script Date: 23/3/2022 6:41:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Place](
	[placeID] [int] IDENTITY(1,1) NOT NULL,
	[plaName] [nvarchar](255) NULL,
	[plaDescription] [nvarchar](500) NULL,
	[plaCreateDate] [datetime] NULL,
	[plaModifierDate] [datetime] NULL,
	[plaCreateUser] [int] NULL,
	[plaModifierUser] [int] NULL,
 CONSTRAINT [PK_Place] PRIMARY KEY CLUSTERED 
(
	[placeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Slider]    Script Date: 23/3/2022 6:41:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Slider](
	[sliderID] [int] IDENTITY(1,1) NOT NULL,
	[sldH5] [nvarchar](255) NULL,
	[sldH1] [nvarchar](255) NULL,
	[sldContent] [nvarchar](255) NULL,
	[sldImage] [text] NULL,
	[sldDescription] [nvarchar](500) NULL,
	[sldCreateDate] [datetime] NULL,
	[sldModifierDate] [datetime] NULL,
	[sldCreateUser] [int] NULL,
	[ModifierUser] [int] NULL,
 CONSTRAINT [PK_Slider] PRIMARY KEY CLUSTERED 
(
	[sliderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status]    Script Date: 23/3/2022 6:41:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[statusID] [int] IDENTITY(1,1) NOT NULL,
	[stsName] [nvarchar](255) NOT NULL,
	[stsDescription] [nvarchar](500) NULL,
	[stsCreateDate] [datetime] NULL,
	[stsModifierDate] [datetime] NULL,
	[stsCreateUser] [int] NULL,
	[stsModifierUser] [int] NULL,
 CONSTRAINT [PK_Status] PRIMARY KEY CLUSTERED 
(
	[statusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Topic]    Script Date: 23/3/2022 6:41:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Topic](
	[topicID] [int] IDENTITY(1,1) NOT NULL,
	[scientistID] [int] NULL,
	[classifiID] [int] NULL,
	[statusID] [int] NULL,
	[acceptsID] [int] NULL,
	[fieldID] [int] NULL,
	[tpcYear] [varchar](4) NULL,
	[tpcName] [nvarchar](255) NULL,
	[tpcSummary] [nvarchar](255) NULL,
	[tpcCode] [nvarchar](255) NULL,
	[tpcStartDate] [date] NULL,
	[tpcEndDate] [date] NULL,
	[tpcDateOfAcceptance] [date] NULL,
	[tpcProofFile] [text] NULL,
	[tpcReviewBoard] [nvarchar](500) NULL,
	[tpcCreateData] [datetime] NULL,
	[tpcModifierData] [datetime] NULL,
	[tpcCreateUser] [int] NULL,
	[tpcModifierUser] [int] NULL,
	[tpcDeleteData] [datetime] NULL,
	[tpcDeleteUser] [int] NULL,
 CONSTRAINT [PK_Topic] PRIMARY KEY CLUSTERED 
(
	[topicID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Unit]    Script Date: 23/3/2022 6:41:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Unit](
	[unitID] [int] IDENTITY(1,1) NOT NULL,
	[untName] [nvarchar](255) NULL,
	[untDescription] [nvarchar](500) NULL,
	[untCreateDate] [datetime] NULL,
	[untModifierDate] [datetime] NULL,
	[untCreateUser] [int] NULL,
	[untModifierUser] [int] NULL,
 CONSTRAINT [PK_Unit] PRIMARY KEY CLUSTERED 
(
	[unitID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ArtType] ON 

INSERT [dbo].[ArtType] ([typeID], [typName], [typDescription], [typCreateDate], [typModifierDate], [typCreateUser], [typModifierUser]) VALUES (1, N'Công nghệ mới', NULL, CAST(N'2022-03-18T23:23:23.840' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[ArtType] ([typeID], [typName], [typDescription], [typCreateDate], [typModifierDate], [typCreateUser], [typModifierUser]) VALUES (2, N'Chống Covid 19', NULL, CAST(N'2022-03-18T23:23:44.297' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[ArtType] ([typeID], [typName], [typDescription], [typCreateDate], [typModifierDate], [typCreateUser], [typModifierUser]) VALUES (3, N'Khoa học dữ liệu', NULL, CAST(N'2022-03-18T23:32:37.000' AS DateTime), CAST(N'2022-03-18T23:34:46.417' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[ArtType] OFF
GO
SET IDENTITY_INSERT [dbo].[Classification] ON 

INSERT [dbo].[Classification] ([classifiID], [clsName], [clsDescription], [clsCreateDate], [clsModifierDate], [clsCreateUser], [clsModifierUser]) VALUES (9, N'Cấp trường', N'Phân loại các đề tài cấp trường', NULL, NULL, NULL, NULL)
INSERT [dbo].[Classification] ([classifiID], [clsName], [clsDescription], [clsCreateDate], [clsModifierDate], [clsCreateUser], [clsModifierUser]) VALUES (12, N'Cấp quốc tế', N'Phân loại các đề tài thuộc cấp quốc tế', CAST(N'2022-03-03T16:26:00.000' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[Classification] ([classifiID], [clsName], [clsDescription], [clsCreateDate], [clsModifierDate], [clsCreateUser], [clsModifierUser]) VALUES (22, N'Cấp cơ sở', N'Mô tả cấp cơ sở', NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Classification] OFF
GO
SET IDENTITY_INSERT [dbo].[Conference] ON 

INSERT [dbo].[Conference] ([conferenceID], [cfrName], [cfrDescription], [cfrCreateDate], [cfrModifierDate], [cfrCreateUser], [cfrModifierUser]) VALUES (4, N'VN', NULL, CAST(N'2022-03-19T21:34:56.173' AS DateTime), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Conference] OFF
GO
SET IDENTITY_INSERT [dbo].[Degree] ON 

INSERT [dbo].[Degree] ([degreeID], [degName], [degDescription], [degCreateDate], [degModifierDate], [degCreateUser], [degModifierUser]) VALUES (0, N'Đại học', NULL, CAST(N'2022-03-16T23:59:49.477' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[Degree] ([degreeID], [degName], [degDescription], [degCreateDate], [degModifierDate], [degCreateUser], [degModifierUser]) VALUES (1, N'Cao đẳng', N'3 Year', CAST(N'2022-03-17T00:02:27.000' AS DateTime), CAST(N'2022-03-17T00:05:10.023' AS DateTime), NULL, NULL)
INSERT [dbo].[Degree] ([degreeID], [degName], [degDescription], [degCreateDate], [degModifierDate], [degCreateUser], [degModifierUser]) VALUES (3, N'Trung cấp', N'2 Year', CAST(N'2022-03-17T00:03:51.000' AS DateTime), CAST(N'2022-03-17T00:04:52.077' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Degree] OFF
GO
SET IDENTITY_INSERT [dbo].[Field] ON 

INSERT [dbo].[Field] ([fieldID], [fieName], [fieDescription], [fieCreateDate], [fieModifierDate], [fieCreateUser], [fieModifierUser]) VALUES (12, N'Khoa học máy tính', N'Khoa học Máy tính(Computer science) là ngành nghiên cứu về máy tính và các hệ thống tính toán, quy trình và cách hoạt động của máy tính, cải thiện và nâng cao hiệu suất cho các thuật toán, công nghệ mới, giao tiếp giữa máy tính và con người. Thông qua ngành này giúp các bạn  có thể xây dựng các phẩm phần mềm trí tuệ nhân tạo, máy học...', CAST(N'2022-03-10T22:49:59.840' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[Field] ([fieldID], [fieName], [fieDescription], [fieCreateDate], [fieModifierDate], [fieCreateUser], [fieModifierUser]) VALUES (13, N'Kỹ thuật máy tính', N'Ngành Kỹ thuật máy tính (KTMT) là một ngành khá đặc biệt trong nhóm ngành Công nghệ thông tin, là ngành học kết hợp kiến thức cả hai lĩnh vực Điện tử và Công nghệ thông tin', CAST(N'2022-03-10T22:50:46.193' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[Field] ([fieldID], [fieName], [fieDescription], [fieCreateDate], [fieModifierDate], [fieCreateUser], [fieModifierUser]) VALUES (14, N'Công nghệ thông tin', NULL, CAST(N'2022-03-11T15:22:43.000' AS DateTime), CAST(N'2022-03-11T23:32:22.710' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Field] OFF
GO
SET IDENTITY_INSERT [dbo].[Foreign] ON 

INSERT [dbo].[Foreign] ([foreignID], [fgnName], [fgnDescription], [fgnCreateDate], [fgnModifierDate], [fgnCreateUser], [fgnModifierUser]) VALUES (8, N'Anh Văn B1', NULL, CAST(N'2022-03-17T16:06:27.000' AS DateTime), CAST(N'2022-03-17T16:06:57.757' AS DateTime), NULL, NULL)
INSERT [dbo].[Foreign] ([foreignID], [fgnName], [fgnDescription], [fgnCreateDate], [fgnModifierDate], [fgnCreateUser], [fgnModifierUser]) VALUES (9, N'Tiếng Trung', NULL, CAST(N'2022-03-17T16:06:40.367' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[Foreign] ([foreignID], [fgnName], [fgnDescription], [fgnCreateDate], [fgnModifierDate], [fgnCreateUser], [fgnModifierUser]) VALUES (10, N'Tiếng Hoa', NULL, CAST(N'2022-03-17T16:06:46.737' AS DateTime), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Foreign] OFF
GO
SET IDENTITY_INSERT [dbo].[KeyWord] ON 

INSERT [dbo].[KeyWord] ([keyID], [keyName], [keyDescription], [keyCreateDate], [keyModifierDate], [keyCreateUser], [keyModifierUser]) VALUES (2, N'Blockchain', NULL, CAST(N'2022-03-18T23:38:27.483' AS DateTime), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[KeyWord] OFF
GO
SET IDENTITY_INSERT [dbo].[Nation] ON 

INSERT [dbo].[Nation] ([nationID], [natName], [natTwoCode], [natThreeCode], [natDescription], [natCreateDate], [natModifierDate], [natCreateUser], [natModifierUser]) VALUES (1, N'Afghanistan', N'AF', N'AFG', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Nation] ([nationID], [natName], [natTwoCode], [natThreeCode], [natDescription], [natCreateDate], [natModifierDate], [natCreateUser], [natModifierUser]) VALUES (2, N'Aland Islands', N'AX', N'ALA', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Nation] ([nationID], [natName], [natTwoCode], [natThreeCode], [natDescription], [natCreateDate], [natModifierDate], [natCreateUser], [natModifierUser]) VALUES (3, N'Albania', N'AL', N'ALB', NULL, NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Nation] OFF
GO
SET IDENTITY_INSERT [dbo].[Place] ON 

INSERT [dbo].[Place] ([placeID], [plaName], [plaDescription], [plaCreateDate], [plaModifierDate], [plaCreateUser], [plaModifierUser]) VALUES (1, N'Đồng Tháp', NULL, CAST(N'2022-03-17T16:11:19.350' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[Place] ([placeID], [plaName], [plaDescription], [plaCreateDate], [plaModifierDate], [plaCreateUser], [plaModifierUser]) VALUES (2, N'Vĩnh Long', NULL, CAST(N'2022-03-17T16:11:23.323' AS DateTime), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Place] OFF
GO
SET IDENTITY_INSERT [dbo].[Slider] ON 

INSERT [dbo].[Slider] ([sliderID], [sldH5], [sldH1], [sldContent], [sldImage], [sldDescription], [sldCreateDate], [sldModifierDate], [sldCreateUser], [ModifierUser]) VALUES (1, N'TRƯỜNG CAO ĐẲNG Y TẾ ĐỒNG THÁP', N'QUẢN LÝ CÁC ĐỀ TÀI NGHIÊN CỨU KHOA HỌC', N'Nhằm đảm bảo thực hiện hoạt động nghiên cứu khoa học đúng quy định và kiểm soát chất lượng nghiên cứu một cách hiệu quả.', N'carousel-1.jpg', N'2342', CAST(N'2022-03-22T22:03:27.000' AS DateTime), CAST(N'2022-03-23T00:37:01.027' AS DateTime), NULL, NULL)
INSERT [dbo].[Slider] ([sliderID], [sldH5], [sldH1], [sldContent], [sldImage], [sldDescription], [sldCreateDate], [sldModifierDate], [sldCreateUser], [ModifierUser]) VALUES (2, N'Trường Cao Đẳng Y Tế Đồng Tháp', N'Tra Cứu Các Đề Tài Nghiên Cứu', N'Nâng cao trách nhiệm của các đơn vị trong việc phối hợp thực hiện quy định về
                                quản lý đề tài nghiên cứu khoa học của Trường Cao Đẳng Y Tế Đồng Tháp.', N'carousel-2.jpg', N'5', CAST(N'2022-03-22T22:05:16.947' AS DateTime), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Slider] OFF
GO
SET IDENTITY_INSERT [dbo].[Status] ON 

INSERT [dbo].[Status] ([statusID], [stsName], [stsDescription], [stsCreateDate], [stsModifierDate], [stsCreateUser], [stsModifierUser]) VALUES (4, N'Đang đề xuất', NULL, CAST(N'2022-03-15T22:51:18.450' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[Status] ([statusID], [stsName], [stsDescription], [stsCreateDate], [stsModifierDate], [stsCreateUser], [stsModifierUser]) VALUES (5, N'Đã nghiệm thu', NULL, CAST(N'2022-03-15T22:51:26.737' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[Status] ([statusID], [stsName], [stsDescription], [stsCreateDate], [stsModifierDate], [stsCreateUser], [stsModifierUser]) VALUES (7, N'Đang thực hiện', NULL, CAST(N'2022-03-15T22:51:54.967' AS DateTime), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Status] OFF
GO
SET IDENTITY_INSERT [dbo].[Topic] ON 

INSERT [dbo].[Topic] ([topicID], [scientistID], [classifiID], [statusID], [acceptsID], [fieldID], [tpcYear], [tpcName], [tpcSummary], [tpcCode], [tpcStartDate], [tpcEndDate], [tpcDateOfAcceptance], [tpcProofFile], [tpcReviewBoard], [tpcCreateData], [tpcModifierData], [tpcCreateUser], [tpcModifierUser], [tpcDeleteData], [tpcDeleteUser]) VALUES (4, NULL, 9, 4, NULL, 25, N'2042', N'Đề tài này thuộc cấp trường', NULL, NULL, CAST(N'2022-03-17' AS Date), NULL, NULL, NULL, NULL, CAST(N'2022-03-16T18:23:12.000' AS DateTime), CAST(N'2022-03-20T08:18:49.767' AS DateTime), NULL, NULL, NULL, NULL)
INSERT [dbo].[Topic] ([topicID], [scientistID], [classifiID], [statusID], [acceptsID], [fieldID], [tpcYear], [tpcName], [tpcSummary], [tpcCode], [tpcStartDate], [tpcEndDate], [tpcDateOfAcceptance], [tpcProofFile], [tpcReviewBoard], [tpcCreateData], [tpcModifierData], [tpcCreateUser], [tpcModifierUser], [tpcDeleteData], [tpcDeleteUser]) VALUES (5, NULL, 23, 7, NULL, 25, N'2021', N'đề tài nầy thuoc cấp bộ', NULL, NULL, NULL, NULL, NULL, NULL, NULL, CAST(N'2022-03-16T18:28:08.000' AS DateTime), CAST(N'2022-03-19T11:40:55.503' AS DateTime), NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Topic] OFF
GO
SET IDENTITY_INSERT [dbo].[Unit] ON 

INSERT [dbo].[Unit] ([unitID], [untName], [untDescription], [untCreateDate], [untModifierDate], [untCreateUser], [untModifierUser]) VALUES (1, N'Phòng thông tin và khảo thí', NULL, CAST(N'2022-03-17T16:37:01.000' AS DateTime), CAST(N'2022-03-17T16:37:18.177' AS DateTime), NULL, NULL)
INSERT [dbo].[Unit] ([unitID], [untName], [untDescription], [untCreateDate], [untModifierDate], [untCreateUser], [untModifierUser]) VALUES (2, N'Phòng kế toán', NULL, CAST(N'2022-03-17T16:37:11.233' AS DateTime), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Unit] OFF
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mã số xếp loại đề tài: vd mã số đề tài là 3 có tên là Cấp cơ sở ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Classification', @level2type=N'COLUMN',@level2name=N'classifiID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Foreign', @level2type=N'COLUMN',@level2name=N'foreignID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Foreign', @level2type=N'COLUMN',@level2name=N'fgnDescription'
GO
